@{
    Layout = "";
}
@model LoginDetailsModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    @* <link rel="icon" type="image/png" href="~/images/pizzashop_logo.png" /> *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body>
    <div class="container-fluid vh-100 p-0">
        <div class="row h-100">
            <div class="col-lg-6 col-md-6 img-container p-0">
                <img src="~/images/backgroundImage.png" alt="">
            </div>
            <div class="col-lg-6 col-md-6 form-container d-flex align-items-center justify-content-center">
                <div class="pizashop-logo mb-4">
                </div>
                <div class="d-flex flex-column align-items-center w-75">
                    <div class="d-flex align-items-center justify-content-center w-100">
                        <div class="logo-image-container p-1 me-2">
                            <img src="~/images/icons8-management-48.png" class="logo-img" alt="Company Logo" />
                        </div>
                        <label for="" class="ps-label">Login</label>
                    </div>
                    <form class="loginForm form-group w-75 mt-4" asp-action="LoginTheUser" asp-controller="Login">
                        <label for="" class="login-text mb-3" style="font-size:24px;font-weight: 500;">Welcome,</label>
                        <div>
                            <div class="d-flex flex-column">
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control" id="emailInput" asp-for="email"
                                        placeholder="Email" >
                                </div>
                            </div>
                            <div class="d-flex flex-column">
                                <div class="input-group mb-2">
                                    <input type="password" class="form-control" asp-for="password"
                                        placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-2">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

        @* $(".loginForm").on('submit', function (e) {
            e.preventDefault();
            var data = new FormData(this);
            for (var pair of data.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }
            $.ajax({
                url: "@Url.Action("LoginTheUser", "Login")",
                type: "POST",
                data: data,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        toastr.success("Login successfully ")
                    }
                    else {
                        toastr.error("Invalid email or password")
                    }
                }
            });
        }) *@
        $(function () {
            var message = '@Html.Raw(TempData["ToastrMessage"])';
            var type = '@Html.Raw(TempData["ToastrType"])';
            if (message.trim() !== '') {
                switch (type) {
                    case 'success':
                        toastr.success(message)
                        break;
                    case 'error':
                        toastr.error(message)
                        break;
                    case 'warning':
                        toastr.warning(message)
                        break;
                    case 'info':
                        toastr.info(message)
                }
            }
        });
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "2000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
    </script>
</body>

</html>
