@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model LoginDetailsModel

<label for="" class="ps-label">Login</label>
<form class="LoginForm form-group w-75 mt-4" asp-action="LoginTheUser" asp-controller="Login">
    <label for="" class="login-text mb-3" style="font-size:24px;font-weight: 500;">Welcome,</label>
    <div>
        <div class="d-flex flex-column">
            <div class="input-group mb-2">
                <input type="text" class="form-control" id="emailInput" asp-for="email" placeholder="Email" required>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="input-group mb-2">
                <input type="password" class="form-control" asp-for="password" placeholder="Password" required>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end" >
        Don't have an Account? <a asp-controller="Login" asp-action="RedirectToRegister" class="ms-1" style="text-decoration: none;"> Register </a>
    </div>
    <button type="submit" class="btn btn-primary w-100 mt-2">Login</button>
</form>




